 .card{    
    margin: 2rem;
    padding: 1rem;   
    width: 10rem; 
    border-radius: 1rem !important; 
      max-height: 19rem;  
        

}
.card:hover{
    width: 10.2rem;
    /* background-color: rgb(219, 25, 161); */
    
}
div.card{
    --bs-card-bg:rgb(241, 153, 234) !important;
}
.img{
    
    padding: 0.5rem;
    min-height: 8rem;
   
}
.car{
       
    padding: 1rem;   
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(60, 60, 177);
}
.car p{
    margin: 0;
}