.app {

  /* fondo de pantalla */
  background-image: radial-gradient(circle at 80% 117.76%, #007bb2 0, #007abd 5%, #0079c6 10%, #0077ce 15%, #0074d4 20%, #0071d8 25%, #006dda 30%, #0069d9 35%, #0063d7 40%, #195dd2 45%, #5056cc 50%, #6e4ec4 55%, #8445ba 60%, #963cae 65%, #a431a2 70%, #b02594 75%, #b91886 80%, #c00878 85%, #c40069 90%, #c7005a 95%, #c7034c 100%);
  /* max-width no va aca por que queda los costados blancos */



  /* tamaño de letra = 10px */
  font-size: 62.5%;
  /* elementos en linea con marg y pad */
  display: inline-block;
  /* elementos felxibles */
  display: flex;
  /* elementos en columnas */
  flex-direction: column;
  /* separados en las dos puntas */
  justify-content: space-between;



}